@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.cdnfonts.com/css/noteworthy');
@import 'tailwindcss';


@theme {
  --font-patrick: 'Patrick Hand';
  --font-noteworthy:'Noteworthy'
}
