@import url('https://fonts.cdnfonts.com/css/noteworthy');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-patrick: 'Patrick Hand';
  --font-noteworthy: 'Noteworthy';
  --font-handwriting: 'Comic Sans MS', 'Comic Sans', cursive;
  --font-pixelify: 'Pixelify Sans';
  --font-orbitron: 'Orbitron';
}
